/* Challenges */
.challenge-button {
    position: relative !important;
    display: block !important;
    max-width: 256px !important;
    min-width: 256px !important;
    height: 150px !important;
    background: rgb(118 108 183 / 35%); # CHANGE COLOR.
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    clip-path: polygon(
        5% 0%, 60% 0%, 82% 0%, 95% 0%, 100% 5%, 100% 95%, 95% 100%, 80% 100%, 23% 100%, 5% 100%, 0% 95%, 0% 50%, 0% 20%, 0% 5%, 5% 0%
    );
    border: none;
    overflow: visible;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-in-out;
    z-index: 2; 
}

.challenge-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(118 108 183 / 35%); # CHANGE COLOR.
    clip-path: polygon(
        5% 0%, 60% 0%, 82% 0%, 95% 0%, 100% 5%, 100% 95%, 95% 100%, 80% 100%, 23% 100%, 5% 100%, 0% 95%, 0% 50%, 0% 20%, 0% 5%, 5% 0%
    );
    transform: translate(-8px, -8px);
    opacity: 0;
    filter: blur(6px);
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
    z-index: -1; 
}

.btn:hover {
    color: #181616;
    background-color: rgb(255 214 0 / 84%); # CHANGE COLOR OF HOVER.
    border-color: #ffffff;
}

.challenge-button:hover::after {
    opacity: 1;
}

.challenge-button:hover {
    background-color: #fffb00c2;
    transform: translate(4px, 4px);
}

/* End - Challenges */
